<div class="type">
	<h2>TYPE-HERE</h2>
</div>
<div class="module">
	<div class="moduleShadow">
		<div class="image">
			<img src="images/IMAGE-SOURCE.png" />
		</div>
		<div class="titleBox" onclick="searchTitleClicked(this)">
			<div class="titleHeading">TITLE-HERE</div>
		</div>
		<div class="moreOptionsButton" onclick="showMoreOptions(this)">
			<div class="moreOptionsMenu">
				<div class="button save">
					<div class="icon"></div>
					<span>Save</span>
				</div>
				<div class="button share">
					<div class="icon"></div>
					<span>Share</span>
				</div>
				<div class="button embed">
					<div class="icon"></div>
					<span>Embed</span>
				</div>
			</div>
		</div>
	</div>
	<div class="exploreContent">
		<div class="exploreTable">
			<div class="exploreImageDiv">
				<img src="images/LARGEIMAGE-SOURCE.png" />
			</div>
			<div class="exploreTitleAndOptions">
				<h1>LARGETITLE-HERE</h1>
				<div class="exploreOptions">
					<h2>Best viewed in the following products</h2>

					<div class="optionCell view">
						<div class="optionCellTitle">
							View
						</div>
						<div class="optionModule">
							<div class='optionImage'>
								<img>
							</div>
							<div class='optionTitle'></div>
						</div>
					</div>

					<div class="optionCell explore">
						<div class="optionCellTitle">
							Explore
						</div>
						<div class="optionModule">
							<div class='optionImage'>
								<img>
							</div>
							<div class='optionTitle'></div>
						</div>
					</div>

					<div class="optionCell learn">
						<div class="optionCellTitle">
							Learn
						</div>
						<div class="optionModule">
							<div class='optionImage'>
								<img>
							</div>
							<div class='optionTitle'></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
